<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Proyecto Modular</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bs-theme-overrides.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar-Right-Links-Dark-icons.css') }}">
</head>

<body style="background: rgb(0,0,0);">
    <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><img src="{{ url_for('static', filename='img/logo.jpeg') }}" style="width: 100px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cursos">Todos los cursos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profesores">Profesores en I-Learning</a></li>
                    <li class="nav-item"><a class="nav-link" href="/feedback">Tus Feedback</a></li>
                    {% if current_user.is_active %}
                        <li class="nav-item"><a class="nav-link" href="/perfil"> {{ current_user.nombre }}</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/sesion">Iniciar Sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="color: var(--bs-dark-bg-subtle);text-align: center;">Editar perfil: {{ current_user.nombre }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-lg-flex justify-content-lg-center"><img style="width: 100%;" src="{{ url_for('static', filename='img/logo.jpeg') }}"></div>
            <div class="col-md-6">
                <form method="post">
                    <h3 style="color: var(--bs-dark-bg-subtle);">Nombre:</h3><input class="form-control" type="text" value="{{ current_user.nombre }}" name="nombre" placeholder="Nombre" style="width: 80%;border-radius: 5px;box-shadow: -1px 1px var(--bs-dark);color: var(--bs-dark-text-emphasis);font-size: 18px;">
                    <h3 style="color: var(--bs-dark-bg-subtle);margin-top: 10px;">Correo Electrónico:</h3><input class="form-control" type="email" value="{{ current_user.email }}" style="width: 80%;color: var(--bs-dark-text-emphasis);font-size: 18px;border-radius: 5px;box-shadow: -1px -1px var(--bs-dark);" name="email" placeholder="Correo">
                    <h3 style="color: var(--bs-dark-bg-subtle);margin-top: 10px;">Contraseña:</h3><input class="form-control" type="password" style="width: 80%;color: var(--bs-dark-text-emphasis);font-size: 18px;border-radius: 5px;box-shadow: -1px -1px var(--bs-dark);" name="password" placeholder="Password">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <a class="btn btn-primary" role="button" style="--bs-body-bg: var(--bs-purple);background: var(--bs-indigo);width: 100%;margin-top: 40px;font-size: 20px;font-weight: bold;">Editar Perfil</a>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>