<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Proyecto Modular</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bs-theme-overrides.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar-Right-Links-Dark-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/circular.css') }}">
</head>

<body style="background: rgb(0,0,0);">
    <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><img src="{{ url_for('static', filename='img/logo.jpeg') }}" style="width: 100px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cursos">Todos los cursos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profesores">Profesores en I-Learning</a></li>
                    {% if current_user.is_active %}
                        <li class="nav-item"><a class="nav-link" href="/perfil/{{ current_user.id }}"> {{ current_user.nombre }}</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/sesion">Iniciar Sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="color: var(--bs-dark-bg-subtle);text-align: center;">Bienvenido, {{ current_user.nombre }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-lg-flex justify-content-lg-center"><img style="width: 100%;" src="{{ url_for('static', filename='img/logo.jpeg') }}"></div>
            <div class="col-md-6">
                <h3 style="color: var(--bs-dark-bg-subtle);">Nombre:</h3>
                <h3>{{ current_user.nombre }}</h3>
                <h3 style="color: var(--bs-dark-bg-subtle);">Correo Electrónico:</h3>
                <h3>{{ current_user.email }}</h3>
                <a class="btn btn-primary" href="/editar_perfil" role="button" style="--bs-body-bg: var(--bs-purple);background: var(--bs-indigo);width: 100%;margin-top: 40px;font-size: 20px;font-weight: bold;">Editar Perfil</a>
                <a class="btn btn-primary" href="/crear_curso" role="button" style="--bs-body-bg: var(--bs-purple);background: var(--bs-indigo);width: 100%;margin-top: 20px;font-size: 20px;font-weight: bold;">Crear Curso</a>
                <a class="btn btn-primary" href="/logout" role="button" style="--bs-body-bg: var(--bs-purple);background: var(--bs-indigo);width: 100%;margin-top: 20px;font-size: 20px;font-weight: bold;">Cerrar sesión</a>
            </div>
        </div>
    </div>
    {% if cursos %}
        <div class="container py-4 py-xl-5">
            {% for element in cursos %}
            <div class="row">
                    <div class="card-body p-4" style="background: var(--bs-tertiary-color);border-radius: 10px;color: var(--bs-dark-text-emphasis);">
                        <div class="col-md-8 col-xl-10 mx-auto p-4">
                            <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                                <div style="color: var(--bs-dark-bg-subtle);">
                                    <h4>Nombre: {{ element[2] }}</h4>
                                    <h5>Creación: {{ element[4] }}</h5>
                                    <h6>Modificación: {{ element[5] }}</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                                {%if element[6]%}
                                    <div class="porcentajes p-5" style="--porcentaje: {{ element[6]*100 }}">
                                        <h3 class="p-2" style="color: var(--bs-dark-bg-subtle);">Positivas</h3>
                                        <svg width="150" height="150">
                                            <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                                            <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                                        </svg>
                                        <span>{{ element[6] * 100}}%</span>
                                    </div>
                                    {% endif %}
                                    {%if element[7]%}
                                    <div class="porcentajes p-5" style="--porcentaje: {{ element[7]*100 }}">
                                    <h3 class="p-2" style="color: var(--bs-dark-bg-subtle);">Negativas</h3>
                                        <svg width="150" height="150">
                                            <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                                            <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                                        </svg>
                                        <span>{{ element[7] * 100}}%</span>
                                    </div>
                                    {% endif %}
                                    {%if element[8]%}
                                    <div class="porcentajes p-5" style="--porcentaje: {{ element[8]*100 }}">
                                    <h3 class="p-2" style="color: var(--bs-dark-bg-subtle);">Neutras</h3>
                                        <svg width="150" height="150">
                                            <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                                            <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                                        </svg>
                                        <span>{{ element[8] * 100}}%</span>
                                    </div>
                                    {% endif %}
                            </div>
                            <a href="/cursos/{{ element[0] }}" class="btn btn-primary" style="background: blueviolet; border: 0px; width: 50%; align-self: center;">Mas informacion del Curso</a>
                        </div>
                    </div>
                <hr class="my-5" style="color: var(--bs-gray-100);border-width: 4px;">
            </div>
            {% endfor %}
        </div>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>